{% extends 'base.html' %}
{% block title %} Product-details {% endblock %}


{% load static %}

{% block content %}
     
    <!--Main layout-->
    <main>
      <div class="container">
        <div class="breadcrumb-content text-center">
          <h2>product details</h2>
          <ul>
                <li><a href="#">home</a></li>
                <li> product details </li>
              </ul>
        </div>
    </div>
        <!-- Container -->
        <div class="container px-lg-5">
            <!-- Content here -->
            <section class="">
            <!-- row -->
            <div class="row align-items-start">
                <div class="col-md-6 ">
                    <div class=" view overlay z-depth-1-half zoom">
                        <!--Featured image -->
                        
                        <img src="{% static 'assets/img/product-details/IMG-20200609-WA0056.jpg' %} " class="img-fluid  card-img-top" alt="Product-detail">

                        <!-- <div class="mask rgba-brown-light "></div> -->
                      </div>
                      <br>
                      

                      <div class="col-12">
                        <div class="row">
                          <div class="col-3">
                            <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                              <img src="{% static 'assets/img/product-details/IMG-20200609-WA0046.jpg' %}" class="img-fluid">
                              <div class="mask rgba-white-slight"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                              <img src="{% static 'assets/img/product-details/IMG-20200609-WA0045.jpg' %}" class="img-fluid">
                              <div class="mask rgba-white-slight"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                              <img src="{% static 'assets/img/product-details/IMG-20200609-WA0053.jpg' %}" class="img-fluid">
                              <div class="mask rgba-white-slight"></div>
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                              <img src="{% static 'assets/img/product-details/IMG-20200609-WA0056.jpg' %}" class="img-fluid">
                              <div class="mask rgba-white-slight"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    <!-- <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid z-depth-1" style="margin-top: -90px; transform-origin: center center; transform: scale(1);"> -->
                </div>
                <div class="col-md-6 ">

                    <h5 style="font-weight: 600;">Limited Editions Tees</h5>
                    <p class="mb-2 text-muted text-uppercase small">Shirts</p>
                    <ul class="starating" >
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="far fa-star fa-sm text-warning"></i>
                      </li>
                    </ul>
                    <p><span class="mr-1"><strong>&#8358;6000  </strong>  <s class="small">&#8358;12,000</s> </span></p>
                    <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                      error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                      officia quis dolore quos sapiente tempore alias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                      error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                      </p>

                    <hr>
                    <div class="table-responsive mb-2">
                      <table class="table table-sm table-borderless">
                        <tbody>
                          <tr>
                            <td class="pl-0 pb-0 w-25">Quantity</td>
                            <td class="pb-0">Select size</td>
                          </tr>
                          <tr>
                            <td>
                              <div class="def-number-input number-input safari_only">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                              </div>
                              
                              <!-- <div class="cart-plus-minus">
                                <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                            </div> -->
                             

                            </td>

                            <td>
                              <!-- Default inline 1-->
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                                <label class="custom-control-label" for="defaultInline1">Small</label>
                              </div>

                              <!-- Default inline 2-->
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input " id="defaultInline2" name="inlineDefaultRadiosExample" checked>
                                <label class="custom-control-label" for="defaultInline2">Medium</label>
                              </div>

                              <!-- Default inline 3-->
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                <label class="custom-control-label" for="defaultInline3">Large</label>
                              </div>

                            </td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                    <div class="quickview-btn-cart">
                      <a class="btn-hover-black btn-black" href="#">Buy now</a>
                      <a class="btn-hover-light  " style="background-color:antiquewhite; color: #251f1f;" href="#"><i class="fas fa-shopping-cart pr-2"></i>add to cart</a>
                  </div>


                  </div>

            </div>
            <!-- row -->


            </section>
            <br>
            <br>

                    <!-- Classic tabs -->
        <div class="classic-tabs">
  
          <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist" >
            <li class="nav-item">
              <a style="color: #0f1317;" class="nav-link show" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Description</a>
            </li>
            <li class="nav-item" >
              <a style="color: #0f1317;"  class = "nav-link  " id="info-tab"  data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
            </li>
            <li class="nav-item">
              <a  style="color: #0f1317;" class="nav-link active" id="reviews-tab"  data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews </a>
            </li>
          </ul>
          <br>
          <div class="tab-content" id="advancedTabContent">
            <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
              <h5>Product Description</h5>
              <p class="small text-muted text-uppercase mb-2">Shirts</p>
              <ul class="starating">
                <li>
                  <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-warning"></i>
                </li>
              </ul>
              <h6>&#8358;17,000</h6>
              <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                officia quis dolore quos sapiente tempore alias.</p>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
              <h5>Additional Information</h5>
              <table class="table table-striped table-bordered mt-3">
                <thead>
                  <tr>
                    <th scope="row" class="w-150 dark-grey-text h6">Weight</th>
                    <td><em>0.3 kg</em></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="w-150 dark-grey-text h6">Dimensions</th>
                    <td><em>50 × 60 cm</em></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade active show" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <h5><span>1</span> review for <span>Overdose Alpha Shirt </span></h5>
              <div class="media mt-3 mb-4">
                <img class="d-flex mr-3 z-depth-1" src="{% static 'assets/img/product-details/IMG_20190827_133650_779.JPG' %}" width="62" alt="Generic placeholder image">
                <div class="media-body">
                  <div class="d-flex justify-content-between">
                    <p class="mt-1 mb-2">
                      <strong>Sandra </strong>
                      <span>– </span><span>July 28, 2020</span>
                    </p>
                    <ul class="starating mb-0">
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-sm text-warning"></i>
                      </li>
                      <li>
                        <i class="far fa-star fa-sm text-warning"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="mb-0">Nice one, love it!</p>
                </div>
              </div>
              <hr>
              <h5 class="mt-4">Add a review</h5>
              <p>Your email address will not be published.</p>
              <div class="my-3">
                <ul class="starating mb-0">
                  <li>
                    <a href="#!">
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <i class="far fa-star fa-sm text-warning"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <!-- Your review -->
                <div class="md-form md-outline">
                  <textarea id="form76" class="md-textarea form-control pr-6" rows="4"></textarea>
                  <label for="form76">Your review</label>
                </div>
                <!-- Name -->
                <div class="md-form md-outline">
                  <input type="text" id="form75" class="form-control pr-6">
                  <label for="form75">Name</label>
                </div>
                <!-- Email -->
                <div class="md-form md-outline">
                  <input type="email" id="form77" class="form-control pr-6">
                  <label for="form77">Email</label>
                </div>
                <div class="quickview-btn-cart text-right pb-2  ">
                  <a class="btn-hover-black btn-black  " href="#">Add a review</a>
              </div>
                <!-- <div class="text-right pb-2">
                  <button type="button" class="btn btn-black waves-effect waves-light">/button>
                </div> -->
              </div>
            </div>
          </div>
  
        </div>
        <!-- Classic tabs -->
  
        <hr>




          </div>
                  <!--Section: Block Content-->
                  <div class="container">

        <section class="text-center">
  
          <h4 class="text-center my-5"><strong>Related products</strong></h4>
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 mb-5">
  
              <!-- Card -->
              <div class="">
  
                <div class="view zoom overlay z-depth-2 rounded">
                  <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0055.jpg' %}" alt="Sample">
                  <a href="#!">
                    <div class="mask waves-effect waves-light">
                      <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0046.jpg' %}">
                      <div class="mask rgba-black-slight waves-effect waves-light"></div>
                    </div>
                  </a>
                </div>
  
                <div class="pt-4">
  
                  <h5>Overdose Alpha Shirt</h5>
                  <p><span><strong>&#8358;17000.99</strong></span></p>
  
                </div>
  
              </div>
              <!-- Card -->
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 mb-5">
  
              <!-- Card -->
              <div class="">
  
                <div class="view zoom overlay z-depth-2 rounded">
                  <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0045.jpg' %}" alt="Sample">
                  <a href="#!">
                    <div class="mask waves-effect waves-light ">
                      <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0056.jpg' %}">
                      <div class="mask  waves-effect waves-light"></div>
                    </div>
                  </a>
                </div>
  
                <div class="pt-4">
  
                  <h5>Overdose Alpha Shirt</h5>
                  <p><span><strong>&#8358;27035.99</strong></span></p>
  
                </div>
  
              </div>
              <!-- Card -->
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 mb-5">
  
              <!-- Card -->
              <div class="">
  
                <div class="view zoom overlay z-depth-2 rounded">
                  <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0053.jpg' %}" alt="Sample">
                   <h4 class="mb-0">
                    <span class="badge badge-danger badge-pill badge-news" >Sale</span>
                    </h4> 
                  <a href="#!">
                    <div class="mask waves-effect waves-light">
                      
                      <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0050.jpg' %}">
                      <h4 class="mb-0">
                        <span class="badge badge-warning badge-pill badge-news" >Sale</span>
                        </h4> 
                      <div class="mask rgba-black-slight waves-effect waves-light"></div>
                    </div>
                  </a>
                </div>
  
                <div class="pt-4">
  
                  <h5>Overdose Alpha Shirt</h5>
                  <p><span class="text-danger mr-1"><strong>&#8358;6721.99</strong></span><span class="text-grey"><strong><s>&#8358;36,000</s></strong></span></p>
  
                </div>
  
              </div>
              <!-- Card -->
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 mb-5">
  
              <!-- Card -->
              <div class="">
  
                <div class="view zoom overlay z-depth-2 rounded">
                  <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0054.jpg' %}" alt="Sample">
                  <a href="#!">
                    <div class="mask waves-effect waves-light">
                      <img class="img-fluid w-100" src="{% static 'assets/img/product-details/IMG-20200609-WA0047.jpg' %}">
                      <div class="mask rgba-black-slight waves-effect waves-light"></div>
                    </div>
                  </a>
                </div>
  
                <div class="pt-4">
  
                  <h5>Overdose Alpha Shirt</h5>
                  <p><strong>&#8358;1999.99</strong></p>
  
                </div>
  
              </div>
              <!-- Card -->
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </section>
        <!--Section: Block Content-->
      </div>





    </main> 
<!--Main layout-->


    <!-- End your project here-->


{% endblock content %}
