{% load static %}

        <!-- all js here -->
            <!-- jQuery -->
        <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
            <!-- MDB core JavaScript -->
        <script type="text/javascript" src="{% static 'assets/js/mdb.min.js' %}"></script>
        <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
        <script src="{% static 'assets/js/ajax-mail.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        

    <!-- <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;"><i class="ti-arrow-up"></i></a> -->